@page "/trang-dau-tien/{solanlap:int?}"

<h1>Day la trang razor page dau tien</h1>

<p>Hoc lap trinh ASP.net Core
<strong>@System.DateTime.Now</strong></p>

@{
    var a = 2;
    int b = 3;
    

    var solanlapString = this.Request.RouteValues["solanlap"]??"0";

    int solanlap = Int32.Parse(solanlapString.ToString());
    <p>Can bac hai cua @a la @Math.Sqrt(a)</p>
}

<p>So lan lap la @solanlap </p>

<ol>
    @for (var i = 0; i <= solanlap; i++)
    {
        <li>Muc thu @i</li>
    }
</ol>
