<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div  style="background: rgb(110, 180, 245)">Phan HEADER</div>
    @RenderBody()
    <div style="background: green">PHAN FOOTER</div>
</body>
</html>