@page
@model CS58____ASP.NET_Razor_09__Tích_hợp_Entity_Framework.Pages_Blog.CreateModel

@{
    ViewData["Title"] = "Tạo bài viết";
}

<h1>Tạo mới bài viết</h1>

<h4>Bài viết</h4>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
            <div class="form-group mb-4 ">
                <label asp-for="Article.Title" class="control-label mb-2"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Article.Created" class="control-label mb-2"></label>
                <input asp-for="Article.Created" class="form-control" />
                <span asp-validation-for="Article.Created" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Article.Content" class="control-label mb-2"></label>
                <input asp-for="Article.Content" class="form-control" />
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success asp-page="Index" >Danh sách bài viết</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
