@page
@model ContactRequestModel
@{
    ViewData["Title"] = "LIEN HE";
}
<h1 class="display-4">Trang liên hệ</h1>
<p class=" lead">Điền các thông tin liên hệ</p>
<hr>
@Model.UserId
@Model.Tong(11, 12)

